.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin: 15px 0;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }

    .pick-hour-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0;

        button {
            padding: 5px 15px;
            border: 1px solid rgb(138, 181, 245);
            margin-left: 15px;
        }
    }
    .btn-save-schedule {
        margin-top: 20px;
    }
}